.razmer{
    width: 100%;
    
}

.table1{
    background-color: rgb(38, 0, 255);
    width: 100%;
}

.table2{
    background-color: rgb(0, 255, 191);
    width: 100%;
}

.table3{
    background-color: rgb(255, 0, 0);
    width: 100%;
}

.table4{
    background-color: rgba(139, 48, 48, 0.212);
    width: 100%;
}